:root {
  --vp-c-green: #5d80f4;
  --vp-c-brand-dark: #5d80f4;
  --vp-c-bg-alt: #fff; // 侧边栏
  // --vp-c-text-code: #6f09d5;
}

.dark {
  --vp-c-bg-alt: rgb(36, 36, 36); // 深色模式侧边栏
}

.sidebar-link-item.active {
  background: rgba(82, 179, 94, 0.1);
}

// 顶部 logo
.VPNavBarTitle.has-sidebar {
  border: none;
}

// 左侧选项链接
.VPSidebarGroup {
  .VPLink.link.link {
    margin: 0;
    padding: 5px 18px;
    transition: 0.4s;
  }
  .VPLink.link.link.active {
    // background: lighten(#2d5af1, 39%);
    // border-radius: 6px;
    .link-text {
      font-weight: 600;
    }
  }
}

// 滚动条
::-webkit-scrollbar {
  width: 7px;
  height: 8px;
}

// 滚动滑块
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 7px;
}
